@keyframes blink {
    0% {
        opacity: 1
    }

    33% {
        opacity: 0
    }

    66% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes dis {
    0% {
        opacity: 1
    }

    66% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: white;

}

body {
    background-color:  #1E2D3E;
}

/*Loader*/
#loadContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #1E2D3E;
    z-index: 1;
}

#loader {
    width: 30vw;
    height: 30vw;
    position: relative;
    top: calc(50vh - 15vw);
    margin: 0 auto;
}

#signal {
    filter: invert(.8);
    opacity: 0;
    position: absolute;
    width: 30vw;
    height: 30vw;
    background-image: url(../img/signal.png);
    background-size: contain;
    animation: blink 3s;
}

#car {
        filter: invert(.8);

    opacity: 0;
    position: absolute;
    width: 30vw;
    height: 30vw;
    background-image: url(../img/parking.png);
    background-size: contain;
    animation: dis 3s;
}

/*Koniec loadera*/
/*Pasek gorny*/
#topbar{
    width: 100vw;
    height: 20vh;
    background-color:#133359;
}
#topbar .bar{
    text-align: right;
    padding-right: 4vw;
    padding-top:7vh;
   
}
.bar span{
    position: relative;
    top: -.5vh;
    font-size: 3vh;
    text-transform: uppercase;
}
.bar i{font-size: 5vh;
margin-left: 3vw;}
/*Koniec paska gornego*/
/*menu*/
#menu{
    width: 100vw;
    height: 80vh;
    text-align: center;
    padding-top: 10vh;
}
#menu li{
    margin-left: 20vw;
    width: 60vw;
    height: 8vh;
    margin-bottom: 4vh;
    font-size: 40px;
    border: 2px solid white;
    border-radius: 2vh;
    padding-top: calc(4vh - 24px);
    transition: 1s linear;
    text-decoration: none;
    cursor: pointer;
}

a{
    color:white;
}

a:hover{
    color: white;
    text-decoration: none;
}

#menu li:hover{
    background-color: #273647;
}
#menu i{
    font-size: 48px;
    margin-right: 20px;
}
/*koniec menu*/